<div class= "content-center">
<img class=" content-center h-12 w-12 rounded-full ring-2 ring-white" src="https://source.unsplash.com/200x200" alt="{user.handle}"/>

<%= @user.username %>
</div>

<div>
<p><%= @current_streak %><p><p>CURRENT STREAK</p><div class="progress-bar"></div>
<p>28</p><p>BEST STREAK</p><div class="progress-bar"></div>
</div>

<div>
    <img class=" inline-block h-6 w-6 rounded-full ring-2 ring-white" src="https://source.unsplash.com/100x100" alt="{user.handle}"/>
    <img class=" inline-block h-6 w-6 rounded-full ring-2 ring-white" src="https://source.unsplash.com/100x100" alt="{user.handle}"/>
    <img class=" inline-block h-6 w-6 rounded-full ring-2 ring-white" src="https://source.unsplash.com/100x100" alt="{user.handle}"/>
    <img class=" inline-block h-6 w-6 rounded-full ring-2 ring-white" src="https://source.unsplash.com/100x100" alt="{user.handle}"/>
</div>