<% klass ||= "" %>

<%= link_to goal_path(goal), class: "group w-full rounded-2xl flex items-end bg-center bg-no-repeat bg-cover bg-red-200 h-32 #{klass}" do %>
	  <div class="flex items-end justify-between w-full p-4">
	    <div class="pr-4">
	      <h4 class="font-bold text-red-800 leading-tight"><%= goal.name.capitalize %></h4>
	    </div>
	    <div class="h-8 w-8 rounded-full bg-white text-black shadow flex items-center justify-center flex-shrink-0 ml-1 transform transition-transform duration-300 ease-in-out hover:scale-110 group-hover:scale-110 cursor-pointer">
	      <%= render "icons/arrow_right" %>
	    </div>
	  </div>
<% end %>