<div class="mx-auto flex items-center justify-center mt-10">
    <% if params[:style].nil? %>
	    <div class="bg-jonquil flex items-center justify-center h-8 w-8 rounded-full border-2 border-black pb-0.5">
	        <p class="font-medium">1</p>
	    </div>
    <% else %>
    	<%= link_to new_goal_path, class:"bg-jonquil flex items-center justify-center h-8 w-8 rounded-full border-2 border-black pb-0.5" do %>
				<p class="font-medium">1</p>
			<% end %>
    <% end %>
    <div class="w-32 h-0.5 bg-black"></div>
    <div class="<%= params[:style].nil? ? 'bg-white' : 'bg-jonquil' %> flex items-center justify-center h-8 w-8 rounded-full border-2 border-black pb-0.5">
        <p class="font-medium">2</p>
    </div>
</div>